@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond&family=Lora:ital@1&family=Playfair+Display:ital@1&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body{
    font-size: 100%;
    background-image:url(/imagens/fundoclaro.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 25px;
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
}

.cabecalho-menu-item{
    font-family: 'Roboto', sans-serif;
    color: #E6BE8A	;
    font-weight: 400;
    font-size: 27px;
}
